<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yrc.emos.wx.mapper.HolidaysMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yrc.emos.wx.pojo.entity.HolidaysEntity">
        <id column="id" property="id"/>
        <result column="date" property="date"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
        , `date`
    </sql>
    <select id="selectTodayIsHoliday" resultType="java.lang.Boolean">
        SELECT IF(COUNT(id), TRUE, FALSE)
        FROM tb_holidays
        WHERE date = CURRENT_DATE LIMIT 1
    </select>
    <select id="selectHolidaysInRange" resultType="java.lang.String">
        SELECT CAST(date AS CHAR) date
        FROM tb_holidays
        WHERE date BETWEEN #{start}
          AND #{end}
    </select>

</mapper>
